<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <!-- Start Top Div  -->
    <div class="top-div">
        <div class="container">
            <h2 class="h2"> See Professor Larry Live at the Texas Homeschool Convention </h2>
            <p class="top-text">March 7–9, 2019 • Fort Worth Convention Center</p>
            <span class="close">X</span>
        </div>
    </div>
    <!-- End Top Div -->