<!-- Start Header -->
<header class="home-header">
    <div class="larry-img">
        <img src="{{site.baseurl}}/assets/img/larry.png" alt="larry.png">
    </div>
    <div class="container">
        <div class="header-content text-center mx-auto">
        <div class="home-img">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/home-logo.png" alt="home-logo.png">
        </div>
        <h2 class="h2">
                with Larry Schweikart<br>
            <span class="mb-0"> America’s History Teacher</span>
            </h2>
            <a class="sign-up " href="#">SIGN UP FOR FREE</a>
        </div>
    </div>
</header>
<!-- End Header -->