
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% include head.html %}
  </head>
  <body>
      <!-- Start Top Div  -->
      <div class="top-div">
          <div class="container">
              <h2 class="h2"> See Professor Larry Live at the Texas Homeschool Convention </h2>
              <p class="top-text">March 7–9, 2019 • Fort Worth Convention Center</p>
              <span class="close">X</span>
          </div>
      </div>
      <!-- End Top Div -->

  {% include nav.html %}
  {% include header.html %}

  {{ content }}

  {% include footer.html %}

</body>
</html>